<!doctype html>
<html lang="en">
<head>
  <meta name="theme-color" 
    content="#344F41" 
    media="(prefers-color-scheme: light)">
  <meta name="theme-color" 
    content="#0A1B2D" 
    media="(prefers-color-scheme: dark)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{insert style.html}}
  {{isdef title}} <title>{{fill title}}</title> {{end}}
</head>
<script src="https://kit.fontawesome.com/96d5af76f0.js" crossorigin="anonymous"></script>
<body>
{{insert sidebar.html}}
<!-- Content appended here -->
